.login-box form {
    max-width:320px;
    width:90%;
    background-color:#0c0c0f;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:70%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0, 10, 12, 0.2);
  }
  
  .login-box .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-box form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-box form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-box form .btn-primary:hover, .login-box form .btn-primary:active {
    background:#0b9eb8;
    outline:none;
  }
  
  .login-box form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-box form .forgot:hover, .login-box form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-box form .btn-primary:active {
    transform:translateY(1px);
  }
  
.text-only{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:block;
    text-align:center;
}

.u-box{  
display: block;
align-items: center;
width: 40%;
margin: 10%;
margin-left: 5%;
}
