body{
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(194, 194, 194));
    color: #000000;
    text-align: center;
    justify-content: center;
    
  }
.navbar {
    background-color: #0c0c0f;
    margin-bottom: 0;
    border-radius: 0;
  }
  
.navbar-brand{
    padding-right: 50px;
  }




.content{
  margin: auto;
  padding: 8px;
  margin-top: 10%;
  width: 80%;

}

#file1,#file2{
  display: inline-block;
  margin-left: 1%;
}

.CompareFiles{
   margin-top: 5%;
  text-align: center;
  justify-content: center;
}

.CompareFiles > p{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 50%;
}

.CompareFiles > canvas{
  max-width:  80%;
  max-height: 620px;
  margin: 0;
  margin-left: 8%;
 
}

  
button{
  background-color: rgb(10, 105, 23);
  color: rgb(255, 255, 255);
  border: 0;
  width: auto;
  padding: 8px;
  border-radius: 10%;
  margin-bottom: 3%;

}
button:hover{
  background-color: rgb(17, 170, 38);
}


@media only screen and (max-width: 768px) {
  .CompareFiles{
    width: 90%;
 } 
  .CompareFiles > p{
    margin-top: 2%;
    margin-bottom: 6%;
    width: 100%;
  }
  
  .CompareFiles > canvas{
    max-width:  100%;
    max-height: 420px;
  
  }

}
