body{
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(194, 194, 194));
    color: #000000;
    text-align: center;
    justify-content: center;
    
  }
.navbar {
    background-color: #0c0c0f;
    margin-bottom: 0;
    border-radius: 0;
  }
  
.navbar-brand{
    padding-right: 50px;
  }

.file-Upload{
  margin: auto;
  padding: 8px;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 50%;

}

.content{
  margin: auto;
  padding: 8px;
  margin-top: 10%;
  width: 80%;

}

#file{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}


#file1,#file2{
  display: inline-block;
  margin-left: 1%;
}

.display{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2%;
}
canvas {
  max-width:  40%;
  max-height: 320px;
}

.CompareFiles{
   margin-top: 5%;
  text-align: center;
  justify-content: center;
}

.CompareFiles > p{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 50%;
}

.CompareFiles > canvas{
  max-width:  80%;
  max-height: 420px;
  margin: 10px;
  margin-left: 6%;
 
}

.compare-button{
  margin: auto;
  margin-top: 6%;
  width: 50%;
  padding: 10px;
}
  
button{
  background-color: rgb(10, 105, 23);
  color: rgb(255, 255, 255);
  border: 0;
  width: auto;
  padding: 8px;
  border-radius: 10%;
  margin-bottom: 3%;

}
button:hover{
  background-color: rgb(17, 170, 38);
}


@media only screen and (max-width: 768px) {
  .file-Upload{
    width: 90%;
  }
  .display{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
  }
  canvas {
    max-width:  90%;
    max-height: 420px;
  }
  .compare-button{
    width: 90%;
    margin-bottom: 3%;
  }
  .donut-chart{
    max-width:  70%;
    max-height: 250px;
  }
  .CompareFiles{
    width: 90%;
 } 
  .CompareFiles > p{
    margin-top: 2%;
    margin-bottom: 6%;
    width: 100%;
  }
  
  .CompareFiles > canvas{
    max-width:  100%;
    max-height: 420px;
  
  }
}
